/* associated to the index.html page */
body {
    background-color: #bdc1c1;
    overflow: scroll;
}

h1 {
    color: #691814;
    font-size: 70px;
    text-align: center;
    margin-top: 200px;
}

h3#name {
    position: relative;
    top: 45px;
    left: 50px;
    color: #691814;
    font-weight: bolder;

}

h4 a{
    color: #bdc1c1;
    font-size: 20px;
    float: left;
    margin-right: 100px;
}

h4 a:first-child {
    margin-left: 50px;
}

h4 a:hover, h4 a:active {
    text-decoration: underline;
    font-weight: bold;
    color: #bdc1c1;
}

h6 {
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

footer {
    height: 50px;
    background-color: #691814;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #bdc1c1;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

header {
    background-color: #691814;
    height: 100px;
    margin: 0;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
}

#top {
    background-color: #bdc1c1;
    min-height: 400px;
    max-height: 550px;
    padding-top: 70px;
}

/*#navbar {*/
    /*background-color: #691814;*/
    /*height: 230px;*/
    /*margin: 0;*/
    /*padding: 10px;*/
    /*width: 100%;*/
/*}*/

#github, #linkedin, #twitter {
    background-color: #691814;
    border: #bdc1c1 3px solid;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    float: right;
    background-size: cover;
}

#github {
    top: 50px;
    position: fixed;

    right: 380px;
    background-image: url("../images/logos/fall_githublogo.png");
}

#linkedin {
    position: fixed;
    top: 50px;
    right: 240px;
    background-image: url("../images/logos/fall_linkedinlogo.png");
}

#twitter {
    position: fixed;
    top: 50px;
    right: 100px;
    background-image: url("../images/logos/fall_twitterlogo.png");
}